{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'simple_app/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome</h1>
        <p>To access the list of Books, use the following API endpoint:</p>
        <pre><code>{{ host_base_url }}api/books/</code></pre>
    </div>
</body>
</html>
